#content {
	margin: 3%;
	border: 2px inset;
	height: 82%;
}

hr.ln {
	border-top: 2px solid #bbb;
}

#title {
	font-size: 32px;
}

#menu-downloads {
	height: 45px;
	background-color: white;
	float: right;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}

.menu-entry a {
	color: black;
	height: 100%;
	display: block;
	text-align: center;
	padding: 14px 16px;
	transition: 0.5s;
	border-left: 1px solid;
}

.menu-entry:hover a {
	transition: 0.5s;
	background-color: #e3e3e3;
}

.active-entry a {
	color: black;
	height: 100%;
	display: block;
	text-align: center;
	padding: 14px 16px;
	transition: 0.5s;
	background-color: #e3e3e3;
	border-left: 1px solid;
}

.active-entry:hover a {
	transition: 0.5s;
	background-color: #cfcccc;
}

#downloadcontent {
	opacity: 0;
}