body {
	margin: 0;
}

#imageBtn {
    display: block;
	font-size: 16px;
	width: calc(100% - 4px);
	border: 2px outset grey;
    text-align: center;
	margin-right: 0.5%;
	background-color: white;
	user-select: none;
    transition: 0.2s;
}

#imageBtn:active {
    transition: 0.2s;
	background-color: lightgrey;
}

button {
    transition: 0.2s;
	border: 2px outset grey;
	background-color: white;
}

button:active {
    transition: 0.2s;
	background-color: lightgrey;
}

#loginFrame {
	position: absolute;
	left: 0;
	top: 45px;
	height: calc(100% - 45px);
	background: rgba(95, 95, 95, 0.55);
	margin: 0px;
}

.loginFrameActive {
	width: 100%;
	height: 100%;
	visibility: visible;
	opacity: 1;
    transition: opacity 0.4s;
}

.loginFrameInactive {
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
}

.loginFrameInactive:after {
	margin: 0px;
	width: 0%;
	height: 0%;
}

.hide {
	opacity: 0;
	width: 0%;
	height: 0%;
	display: none;
}

#content {
	background-color: darkgrey;
    height: calc(100% - 45px);
}

.accountbar {
	float: right;
	width: calc(100% - 57px);
	height: 48px;
	margin: 0px;
	border-bottom: 0.5px solid black;
	background-color: grey;
    transition: width 0.4s;
}

#detailcontent {
	margin: 5px;
	width: 96%;
}

#usernameBox {
	width: 100%;
}

#nicknameBox {
	width: 100%;
}

#confirmlogout {
	position: absolute;
	
	border: 0.5px inset black;
	background-color: lightgrey;
	
	user-select: none;
}

.inactiveLogout {
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
}

#cancelLogout {
	float: left;
}

#cancelLogin {
	position: absolute;
}

.cancelLoginActive {
	width: 500px;
	height: 40px;
	bottom: 20%;
	left: calc(50% - 250px);
	
	opacity: 1;
	transition: 1s;
	font-size: 16px;
	visibility: visible;
}

.cancelLoginInactive {
	width: 0;
	height: 0;
	opacity: 0;
	bottom: 20%;
	left: 50%;
	font-size: 0px;
	transition: 1s;
	visibility: hidden;
}

#confirmLogoutBtn {
	float: right;
}

.cancelLogoutActive {
	width: 48%;
	height: 40%;
	margin: 1%;
	opacity: 1;
	transition: 0.4s;
}

.confirmLogoutBtnActive {
	width: 48%;
	height: 40%;
	margin: 1%;
	opacity: 1;
	transition: 0.4s;
}

.cancelLogoutInactive {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	transition: 0.4s;
}

.confirmLogoutBtnInactive {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	transition: 0.4s;
}

.inactiveLogoutTitle {
	font-size: 0;
	transition: 0.4s;
}

.activeLogoutTitle {
	font-size: 24;
	transition: 0.4s;
}

.activeLogout {
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	width: 400px;
	height: 80px;
	opacity: 1;
	transition: 0.4s;
	visibility: visible;
}

#accountdetails {	
	position: absolute;
	background-color: grey;
	
	width: 248px;
	height: 316px;
	
	border: 2px solid white;
	border-radius: 5px;
	
	top: 105px;
	right: 0;
	margin: 3px;
}

#accountdetails::after {
  content: " ";
  position: absolute;
  bottom: 101%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.closedaccount {
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;	
}

.openaccount {
	opacity: 1;
	transition: 0.4s;
	visibility: visible;
}

.account-details {
	float: right;
	width: 256px;
	height: 100%;
	background-color: darkgrey;
	border-left: 1px solid;
	user-select: none;
    transition: background 0.4s;
}

.account-details:hover {
	background-color: grey;
    transition: 0.4s;
}

.account-name {
	margin-left: 2;
	margin-top: 5.5;
}

#account-image {
	position: absolute;
	right: 1px;
	top: 45px;
	margin: 2px;
	width: 43px;
	height: 43px;
	text-align: center;
	font-size: 31px;
	border-radius: 33px;
	border: 1px solid;	
	background-color: grey;
 	background-repeat: no-repeat;
 	background-size: cover;
}

#changePasswdTitle {
	margin: 5px;
}

#changePasswdTitle.activeUIElement {
	font-size: 24;
	transition: 0.4s;
}

#changePasswdTitle.inactiveUIElement {
	font-size: 0;
	transition: 0.4s;	
}

#changePassForm {
	margin: 5px;
	width: 98.8%;
}

.activeUIElement #passwordInput {
	height: auto;
	width: 100%;
	transition: 0.4s;
}

.inactiveUIElement #passwordInput {
	width: 0px;
	height: 0px;
	transition: 0.4s;
}

.activeUIElement #cancelChangePassword {
	height: auto;
	width: 100px;
	transition: 0.4s;
}

.inactiveUIElement #cancelChangePassword {
	width: 0px;
	height: 0px;
	transition: 0.4s;
}

#confirmChangePassword {
	float: right;
}

.activeUIElement #confirmChangePassword {
	height: auto;
	width: 100px;
	transition: 0.4s;
}

.inactiveUIElement #confirmChangePassword {
	width: 0px;
	height: 0px;
	transition: 0.4s;
}

.activeChangePassword {
	top: calc(50% - 115px);
	left: calc(50% - 400px);
	width: 800px;
	height: 235px;
	opacity: 1;
	transition: 0.4s;
	visibility: visible;
}

#changePassword {
	position: absolute;
	
	border: 0.5px inset black;
	background-color: lightgrey;
	
	user-select: none;
}

.inactiveUI {
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	opacity: 0;
	transition: 0.4s;
	visibility: hidden;
}

.inactiveUIElement {
	width: 0;
	height: 0;
	opacity: 0;
	transition: 0.4s;
}

.activeUIElement {
	opacity: 1;
	transition: 0.4s;	
}

#account-image-container {
	margin-top: 2.5px;
}

.change .accountbar {
	width: calc(100% - 199px);
}

.sidebar {
	float: left;
	width: 56px;
	background: rgba(95, 95, 95, 0.85);
    height: 100%;
    transition: width 0.4s;
	border-right: 0.5px solid black;
}

.entries {
	overflow: hidden;
	overflow-y: hidden;
	float: left;
	width: 100%;
	height: calc(100% - 45px);
}

.menu-control-container {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	width: 100%;
	margin-bottom: 2px;
}

.menu-control {
	transition: 0.4s;
	position: absolute;
	width: 35px;
	height: 30px;
	left: 11px;
}

.menu-cont-bar1, .menu-cont-bar2, .menu-cont-bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 2px;
}

.change .menu-cont-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu-cont-bar2 {opacity: 0;}

.change .menu-cont-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header {
	margin-top: 5px;
	margin-bottom: 5px;
	height: auto;
	width: 100%;
	color: white;
	opacity: 1;
	transition: 0.4s;	
}

.hidden {
	visibility: hidden;
	opacity: 0;
	transition: 0.4s;
}

.entry {
	text-align: center;
	width: 100%;
	background-color: #c9c9c9;
	transition: 0.5s;
	margin: 0;
}

.entry a {
	height: auto;
	margin: 0;
	color: black;
}

.entry:hover {
	transition: 0.5s;
	background-color: #cadbda;
}