#banner {
	width: 100%;
	height: 20%;
	background-image: url(../images/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

hr.ln {
	border-top: 2px solid #bbb;
}

#about-simple {
	margin: 1%;
	border: 2px inset;
	text-align: center;
}

#title-about {
	font-size: 28px;
}

#title-web {
	font-size: 20px;	
}

#latest-news {
	margin: 1%;
	border: 2px inset;
}

#latestnews-iframe {
	width: 100%;
	height: 80%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#latest-news-head {
	font-size: 30px;
	margin-top: 2%;
	margin-left: 0.5%;
}

#downloads-btn {
	height: 3%;
	border: 1px outset;
	transition: 0.1s;
	border-radius: 10px;
	background-color: cyan;
}

#downloads-btn:hover {
	border: 1px inset;
}

#downloads-btn:active {
	border: 2px inset;
	background-color: blue;
}
