#newsmessage {
	margin: 1%;
	border: 2px inset;
}

#authorImage {
	max-width: 80%;
	max-height: 80%;
	width: auto;
	height: auto;
	border-radius: 50%;
}

#authorDiv {
	margin-top: 1%;
	width: 12%;
	height: 70%;
	float: left;
	text-align: center;
}

#date {
	font-size: 14px;
}

#author {
	font-size: 20px;
	height: 50%;
}

hr.ln {
	border-top: 2px solid #bbb;
	width: 88%;
	margin-left: 0.15%;
}

#messageDiv {
	width: 99%;
	margin-left: 10%;
}

#msgTitle {
	font-size: 30px;
}

#message {
	margin-left: 0.2%;
	height: 70%;
	width: 88%;
	resize: none;
}
