#content {
	margin-top: 2%;
}

#title {
	font-size: 28px;
}

#username {
  	float: right;
  	margin-top: 8px;
  	margin-right: 7px;
	font-size: 20px;
}

#authorImage {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

#authorDiv {
	width: 12%;
	height: 70%;
	float: left;
	text-align: center;
}

#date {
	font-size: 14px;
}

#author {
	font-size: 20px;
	height: 50%;
}

hr.ln {
	border-top: 2px solid #bbb;
}

#messageDiv {
	width: 99%;
	margin-left: 10px;
}

#msgTitle {
	font-size: 30px;
}

#message {
	margin-left: 0.2%;
	height: 50%;
	width: 88%;
	resize: none;
}

#back {
	width: 200px;
	float: right;
	height: 30px;
	margin-right: 0.7%;
	margin-top: -8px;
}

#confirm {
	width: 200px;
	float: left;
	height: 30px;
	margin-left: 0.1%;
	margin-top: 10px;
}
