# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore LiteLibs
litelibs

# Ignore MTK cache
MTK/caches

# Eclipse
.settings/
.project
.classpath
bin/
.workspace/
.egradle/
logs/
